.container {
	background-color: #C0D6DF;
}

.sprinkle {
	position: absolute;
	display: block;
}

@keyframes fall {
	from {
		top: 0;
		transform: rotate(0deg);
	}
	to {
		top: calc(100vh + 100px);
		transform: rotate(359deg);
		/*transform: rotate(359deg) rotate3d(0, 1, 0, 359deg);*/

	}
}
